/* Pagination */
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

.pagination-button:hover {
  background-color: rgb(101, 101, 255);
  color: black;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
